#root {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

label {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

.app {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.app-loading {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 100%;
}

.app-product-list-view {
	display: flex;
	flex-direction: column;
	height: auto;
	max-height: 650px;
	max-width: 600px;
	min-width: 300px;
	text-align: center;
	width: 60%;
}

.app-product-list-body {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	height: 550px;
	overflow: hidden;
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.app-product-list-error {
	align-items: center;
	display: flex;
	height: 100%;
}

.app-product-list-label {
	flex: 0 0 auto;
	font-size: 20px;
}

.app-product-list-container {
	flex: 1 1 auto;
	overflow: auto;
}

.app-product-list-input-footer {
	display: flex;
	flex: 0 0 auto;

	& > .row {
		width: 100%;
	}
}

.app-product-list-recalculate-button {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}