.product-list {
	table-layout: fixed;
}

.product-list-header > th,
.product-list-item > td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.product-list-item {
	height: 60px;

	& > td {
		vertical-align: middle;
	}
}

.product-list-item-id {
	width: 10%;
}

.product-list-item-name {
	width: 45%;
}

.product-list-item-stock {
	width: 20%;
}

.product-list-item-arrival {
	width: 25%;
}

.product-list-loading {
	transform: scale(0.4);
}